<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name="net.pocketnai.ui.chat.ChatInsetTestIme"
            android:exported="true" android:permission="android.permission.BIND_INPUT_METHOD"
            android:label="PocketNAI 键盘窗口验收">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/chat_inset_test_ime" />
        </service>
    </application>
</manifest>
